$whiteColor: #fff;
$blackColor: #000;
$redColor: #F00;
$greyColor: #eee;
$opacitySidebar: rgba(0, 0, 0, 0.8);
$primaryColor: #febd69;
$secondaryColor: #8C82D6;
$boxShadow:rgba(0, 0, 0, 0.1);
$grayColor: #999;
$roadColor:#282828;
$hoverDropdown:#e48a13;

