$color_1: #000;
$color_2: #fff;
$color_3: white;
$background-color_1: transparent;
$background-color_2: rgb(0, 0, 0);

.first-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #181a1e;
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 350px;
        width: 500px;
        flex-direction: column;
        gap: 50px;
        border-radius: 15px;
        background: #e3e3e3;
        box-shadow:
            16px 16px 32px #c8c8c8,
            -16px -16px 32px #bbb;
        border-radius: 8px;
        padding: 50px 0;

        .first-login-logo {
            cursor: pointer;
            height: 10px;
            img {
                width: 80px;
            }
        }

        .box-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title {
                color: #f39e00;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 700;
                font-size: x-large;
            }
            .sub-title {
                font-size: 12px;
                font-style: italic;
            }
        }
    
        .inputBox {
            position: relative;
            width: 400px;
            &.newpass {
                input {
                    &:valid ~ span {
                        transform: translate(220px, -15px);
                    }
                    &:focus ~ span {
                        transform: translate(220px, -15px);
                    }
                }
            }
            input {
                width: 100%;
                padding: 10px;
                outline: none;
                border: none;
                color: $color_1;
                font-size: 1em;
                background: transparent;
                border-left: 2px solid #000;
                border-bottom: 2px solid #000;
                transition: 0.1s;
                border-bottom-left-radius: 8px;
                &:valid ~ span {
                    transform: translate(180px, -15px);
                    font-size: 0.8em;
                    padding: 5px 10px;
                    background: #000;
                    letter-spacing: 0.2em;
                    color: $color_2;
                    border: 2px;
                }
                &:focus ~ span {
                    transform: translate(180px, -15px);
                    font-size: 0.8em;
                    padding: 5px 10px;
                    background: #000;
                    letter-spacing: 0.2em;
                    color: $color_2;
                    border: 2px;
                }
                &:valid {
                    border: 2px solid #000;
                    border-radius: 8px;
                }
                &:focus {
                    border: 2px solid #000;
                    border-radius: 8px;
                }
            }
            span {
                margin-top: 5px;
                position: absolute;
                left: 0;
                transform: translateY(-4px);
                margin-left: 10px;
                padding: 10px;
                pointer-events: none;
                font-size: 12px;
                color: $color_1;
                text-transform: uppercase;
                transition: 0.5s;
                letter-spacing: 1.5px;
                border-radius: 8px;
            }
        }
    
        .enter {
            height: 45px;
            width: 80%;
            border-radius: 5px;
            border: 2px solid #000;
            cursor: pointer;
            background-color: $background-color_1;
            transition: .3s;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 2px;
            margin-bottom: 3em;
            &:hover {
                font-weight: 600;
                background-color: $background-color_2;
                color: $color_3;
            }
        }
    }
}
