.layout_container {
    font-size: $m;
    width: 100%;
    min-height: 100vh;
    
    header {
        position: sticky;
        top: 0;
        z-index: 999;
    }
    .home_page_body {
        width: 100%;
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .body_content {
            width: 100%;
            max-width: 1440px;
            height: 100%;
            display: flex;
            justify-content: center;
        }
    }
    footer {
    }
}

