.online-list-box {
    width: 100%;
    .online-title{
        display: flex;
        h2 {
            text-transform: uppercase;
            margin-bottom: 10px;
            letter-spacing: 2px;
        }
        button{
            padding: 10px;
            position: absolute;
            right: 50px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background-color: var(--warning);
            color: #fff;
            font-weight: 600;
            &:hover{
                transition: all .3s ease;
                transform: scale(1.05);
            }
            &:active{
                transform: scale(1);
            }
        }
    }
 
    .online-table {
        max-height: 420px;
        height: 440px;
        overflow-y: hidden;
        overflow-x: hidden;
        table {
            width: 100%;
            thead {
                th {
                    padding: 5px 0;
                    font-size: 13px;
                    text-align: left;
                    position: sticky;
                    top: 0px;
                    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
                    background-color: #363949;
                    color: #c9c7c7;
                        text-align: center;
                }
            }

            td {
                padding: 16px 0;
                text-align: center;
                img {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .kick-button {
                    cursor: pointer;
                    padding: 5px 15px;
                    color: #fff;
                    outline: none;
                    border: none;
                        background-color: var(--danger);
                    &:hover {
                        transition: all 0.2s ease;
                        transform: scale(1.05);
                        box-shadow:
                            0 4px 6px rgba(0, 0, 0, 0.1),
                            0 1px 3px rgba(0, 0, 0, 0.08);
                    }
                    &:active {
                        transform: scale(0.95);
                    }
                }
            }

            tr {
                td {

                    .status {
                        font-size: 10px;
                        padding: 6px 16px;
                        color: var(--light);
                        border-radius: 20px;
                        font-weight: 700;
                    }
                    .status.completed {
                        background: var(--success);
                    }
                    .status.process {
                        background: var(--process);
                    }
                    .status.pending {
                        background: var(--warning);
                    }
                }
            }

            tbody {
                tr {
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:nth-child(even) {
                        background: var(--grey);
                    }

                    &:nth-child(odd) {
                        background: var(--light);
                    }
                    &:hover {
                        background: #c9c7c7;
                    }
                }
            }
        }
    }
}
