.user-box,
.user-recycle {
    width: 100%;
    .user-title,
    .user-recycle-title {
        display: flex;
        h2 {
            color: #febd69;
            font-size: 30px;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        button {
            padding: 10px;
            position: absolute;
            right: 50px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background-color: var(--process);
            color: #fff;
            font-weight: 600;
            &:hover {
                transition: all 0.3s ease;
                transform: scale(1.05);
            }
            &:active {
                transform: scale(1);
            }
            &.ban-list {
                background-color: var(--danger);
            }
            &.back-user-list {
                background-color: var(--warning);
            }
        }
    }
    .user-table,
    .user-recycle-table {
        max-height: 420px;
        height: 440px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    table {
        width: 100%;
        thead {
            th {
                padding: 5px 0;
                font-size: 13px;
                text-align: left;
                position: sticky;
                top: -1px;
                box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
                background-color: #363949;
                color: #c9c7c7;
                border: 2px solid var(--light);
                text-align: center;
            }
        }

        td {
            padding: 16px 0;
            text-align: center;
            img {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                object-fit: cover;
            }
            .button-show {
                cursor: pointer;
                padding: 5px 15px;
                color: #fff;
                outline: none;
                border: none;
                border-radius: 5px;
                background-color: var(--process);
                &:hover {
                    transition: all 0.2s ease;
                    transform: scale(1.05);
                    box-shadow:
                        0 4px 6px rgba(0, 0, 0, 0.1),
                        0 1px 3px rgba(0, 0, 0, 0.08);
                }
                &:active {
                    transform: scale(0.95);
                }
            }
        }

        tr {
            td {
                .status {
                    font-size: 10px;
                    padding: 6px 16px;
                    color: var(--light);
                    border-radius: 20px;
                    font-weight: 700;
                }
                .status.completed {
                    background: var(--success);
                }
                .status.process {
                    background: var(--process);
                }
                .status.pending {
                    background: var(--warning);
                }
            }
        }

        tbody {
            tr {
                cursor: pointer;
                transition: all 0.3s ease;
                &:nth-child(even) {
                    background: var(--grey);
                }

                &:nth-child(odd) {
                    background: var(--light);
                }
                &:hover {
                    background: #c9c7c7;
                }
            }
        }
    }
}

.user_create_form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(grey, 0.7);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    form {
        padding: 10px;
        width: 450px;
        height: 450px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 2px 2px 2px 2px rgb(102, 101, 101);
        position: relative;

        .btn_box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            span {
                font-family: $fontKanit;
                font-size: $l;
            }
        }

        .btn-success {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

        .input_avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                cursor: pointer;
            }

            span {
                position: absolute;
                z-index: 1;
                color: white;
                font-weight: 900;
                font-size: $l * 2;
                text-shadow: 2px 2px 2px black;
            }

            input {
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                top: 0;
                left: 0;
                cursor: pointer;
            }
        }

        .pictures {
            display: flex;
            flex-wrap: wrap;

            .item {
                width: 75px;
                height: 75px;
                border-radius: 50%;
                margin: 0 10px 10px 0;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                }

                .btn-danger {
                    position: absolute;
                    top: -15px / 2;
                    right: -15px / 2;
                    font-size: 15px;
                    padding: 0;
                    width: 15px * 1.5;
                    height: 15px * 1.5;
                }
            }
        }
    }
}

.user_edit_form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(grey, 0.7);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    form {
        padding: 10px;
        width: 450px;
        height: 500px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 2px 2px 2px 2px rgb(102, 101, 101);
        position: relative;

        .btn_box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            span {
                font-family: $fontKanit;
                font-size: $l;
            }
        }

        .btn-success {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

        .input_avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                span {
                    display: block;
                }
            }

            img {
                width: 100%;
                height: 100%;
                border: 2px solid #eee;
                margin-left: 20px;
                border-radius: 50%;
                cursor: pointer;
            }

            span {
                display: none;
                position: absolute;
                z-index: 1;
                color: white;
                margin-left: 20px;
                font-weight: 900;
                font-size: $l * 2;
                text-shadow: 2px 2px 2px black;
            }

            input {
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                top: 0;
                left: 0;
                cursor: pointer;
            }
        }

        .pictures {
            display: flex;
            flex-wrap: wrap;

            .item {
                width: 75px;
                height: 75px;
                border-radius: 50%;
                margin: 0 10px 10px 0;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                }

                .btn-danger {
                    position: absolute;
                    top: -15px / 2;
                    right: -15px / 2;
                    font-size: 15px;
                    padding: 0;
                    width: 15px * 1.5;
                    height: 15px * 1.5;
                }
            }
        }
    }
}

.table_container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(grey, 0.7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .table_content {
        width: 60%;
        background-color: #fff;
        padding: 10px;

        Table {
            width: 100%;
        }

        .btn_box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            background-color: #fff;

            span {
                font-family: $fontKanit;
                font-size: $l;
                margin-right: 50px;
            }
        }
    }
    .table_receipt {
        z-index: 2001;
        width: 90%;
    }
}

.receipt_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f8f8fc;

    .title {
        margin: 20px 0;
    }

    .table {
        width: 80%;
    }
}
.item_container_title {
    display: flex !important;
    gap: 30px;
    align-items: center;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    :nth-child(2) {
        max-width: 30%;
    }
    :nth-child(3) {
        margin-left: 90px;
    }
    :nth-child(4) {
        margin-left: 5px;
    }
}
.item_container {
    display: flex !important;
    gap: 30px;
    align-items: center;
    // justify-content: center;
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    p {
        margin: 0;
    }
    :nth-child(2) {
        max-width: 40%;
        margin-left: 15px;
    }
}
